@font-face{
    font-family: 'Roboto-Regular';
    src: url(../fonts/Roboto-Regular.ttf) format("truetype");
}

@font-face{
    font-family: 'Roboto-Italic';
    src: url(../fonts/Roboto-Italic.ttf) format("truetype");
}

@font-face{
    font-family: 'Roboto-Bold';
    src: url(../fonts/Roboto-Bold.ttf) format("truetype");
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
    height: auto;
    position: relative;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-size: 10px;
    font-family: 'Roboto-Regular', 'Arial', sans-serif;
    background: #fff;
}

.header-top {
    height: 39px;
    background: #eee url(../img/header/bg-decorate.png) no-repeat center top;
    border-bottom: 1px solid #fff;
}

.header-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.header-sign > a {
    text-decoration: none;
    font-size: 1.3rem;
    color: #666;
    margin-left: 7px;
}

.header-sign > a:not(:last-child)::after {
    content: '|';
    margin-left: 7px;
}

.header-sign > a:hover {
    text-decoration: underline;
}

.header-content {
    width: 100%;
    height: 100px;
    border-top: 1px solid #aaa;
}

.header-info {
    height: 100%;
}

.header-logo {
    width: 315px;
}

.info {
    width: 430px;
    display: flex;
    flex-wrap: wrap
}

.info-column {
    width: 200px;
}

.info-column .phone {
    text-decoration: none;
    font-size: 3.0rem;
    color: #666;
}

.info-column .work,
.info-column .email {
    text-decoration: none;
    font-size: 1.5rem;
    color: #7db0b1;
}

.info-column .work::before {
    content: 'Работаем ';
    color: #666;
}

.info-column .email::before {
    content: 'email: ';
    color: #666;
}

.header-basket {
    width: 194px;
    padding-left: 45px;
    background: url(../img/header/basket.png) no-repeat left;
    font-size: 1.5rem;
    color: #7db0b1;
}

.header-basket .goods-count {
    border-bottom: 1px dashed #7db0b1;
}

.header-basket .goods-count::before {
    content: 'В вашей корзине ';
    color: #000;
    border-bottom: 1px solid #fff;
}

.header-basket .sum::before {
    content: 'на сумму ';
    color: #000;
}

.header-menu {
    width: 100%;
    height: 45px;
    background: url(../img/header/bg-menu.png) repeat;
}

.header-nav > a {
    text-decoration: none;
    font-family: 'Roboto-Regular', 'Arial', sans-serif;
    font-size: 1.8rem;
    color: #fff;
    text-shadow: 0px -1px #333;
    text-transform: uppercase;
    padding-right: 20px;
}

.header-nav > a > span {
    width: auto;
}

.underline {
    border-bottom: 1px solid #fff;
}

.header-nav > a:not(:last-child) {
    border-right: 1px dashed #89cac9;
}

.header-nav > a:not(:first-child) {
    margin-left: 20px;
}

.header-nav > a:active > span,
.header-nav > a:hover > span {
    border-bottom: 1px solid #fff;
}

.header-search {
    width: 375px;
}

.search-form {
    position: relative;
    margin: 0;
    padding: 0;
    width: auto;
    height: 45px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.search {
    width: 100%;
    height: 24px;
    border: 1px solid #b9baba;
    padding-left: 8px;
    padding-right: 24px;
    font-family: 'Roboto-Italic', 'Arial', sans-serif;
    font-size: 1.3rem;
    color: #b9baba;
}

.search:focus {
    font-family: 'Roboto-Regular', 'Arial', sans-serif;
    color: #000;
}

.search-icon {
    position: absolute;
    right: 5px;
    font-size: 16px;
    line-height: 24px;
    color: #b9baba;
    transform: rotateY(-180deg);
}

.main-content {
    height: auto;
    min-height: 100%;
}

.main {
    padding-bottom: 220px;
}

.main-catalog {
    height: auto;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 285px auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    'nav promo'
    'nav about'
    'nav plate';
    grid-gap: 30px;
}

.navigation {
    grid-area: nav;
    width: 285px;
}

.navigation .title-nav {
    height: 55px;
    padding-left: 20px;
    font-family: 'Roboto-Regular', 'Arial', sans-serif;
    font-size: 1.8rem;
    line-height: 55px;
    text-transform: uppercase;
    text-shadow: 1px 1px #000;
    color: #fff;
    background: url(../img/header/bg-menu.png) repeat;
    user-select: none;
}

.main-menu {
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
    background: #eee;
}

.main-menu > a,
.main-menu .sub {
    display: block;
    padding-left: 20px;
    height: 40px;
    text-decoration: none;
    font-size: 1.5rem;
    line-height: 40px;
    text-transform: uppercase;
    color: #666;
    position: relative;
    z-index: 10;
}

.sub-menu {
    position: relative;
    z-index: -1;
}

.sub-menu > a {
    margin-top: -40px;
    display: block;
    padding-left: 40px;
    height: 40px;
    text-decoration: none;
    font-size: 1.5rem;
    line-height: 40px;
    color: #666;
}

.main-menu .sub::after {
    content: "\f0d7";
    font-family: FontAwesome;
    color: #6da5a7;
    padding-left: 10px;
}

.main-menu .sub:hover::after,
.main-menu .sub:focus:hover::after {
    color: #fff;
}

.main-menu .sub:focus::after {
    content: "\f0d8";
    font-family: FontAwesome;
    color: #6da5a7;
    padding-left: 10px;
}

.main-menu .sub:focus {
    outline: 0;
}

.main-menu .sub:focus + nav {
    z-index: 10;
}
.main-menu .sub:focus + nav > a {
    margin-top: 0;
}

.main-menu a:hover,
.main-menu .sub:hover {
    cursor: pointer;
    color: #fff;
    background: #6da5a7;
}

.promo-block {
    height: 340px;
}

.advantage {
    width: 210px;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.advantage > div {
    padding-left: 72px;
    padding-right: 30px;
    height: 105px;
    font-size: 1.5rem;
    color: #666;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    user-select: none;
}

.advantage > div:nth-child(1) {
    background: #eee url(../img/advantages/payment.png) no-repeat 20px center;
}
.advantage > div:nth-child(2) {
    background: #eee url(../img/advantages/certificate.png) no-repeat 20px center;
}
.advantage > div:nth-child(3) {
    background: #eee url(../img/advantages/choises.png) no-repeat 20px center;
}

.about-company {
    grid-area: about;
    width: auto;
    height: 112px;
    border: 1px solid #eee;
}

.about-title {
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #666;
    height: 110px;
    width: 133px;
    padding-left: 15px;
    background: #eee;
    border: 1px solid #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    user-select: none;
}

.about-desctiption {
    height: 112px;
    width: 702px;
    overflow: hidden;
    padding: 0 15px;
    border-left: 1px solid #eee;
}

.about-desctiption p {
    margin: 0;
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: #666;
    padding-top: 10px;
}

.about-more {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.5rem;
    color: #69a4a6;
    margin-bottom: 10px;
}

.about-more a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #69a4a6;
}

.about-more a::after {
    margin-left: 5px;
    content: "\2192"
}

.plate-content {
    grid-area: plate;
    width: auto;
    height: 780px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.plate-content > a {
    text-decoration: none;
}

.plate-content figure {
    display: block;
    width: 210px;
    height: 250px;
    margin: 0;
    padding: 0;
}

.plate-content figure > p {
    margin: 0;
    padding: 0;
    width: 210px;
    height: 200px;
    overflow: hidden;
}

.plate-content figure img {
    min-width: 210px;
    min-height: 200px;
}

.plate-content figure > figcaption {
    width: auto;
    height: 50px;
    background: #eee;
    color: #666;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden;
}

.additional-content {
    margin-top: 30px;
    height: auto;
}

.additional-nav {
    height: 50px;
    width: auto;
    display: flex;
    justify-content: flex-start;
}

.additional-nav > a {
    display: block;
    background: #ececec;
    height: 50px;
    padding: 0 20px;
    font-size: 1.8rem;
    line-height: 50px;
    color: #666;
    text-transform: uppercase;
    text-decoration: none;
}

.additional-nav > a:not(:first-child) {
    border-left: 1px solid #fff;
}

.additional-nav > a:hover {
    color: #fff;
    background: url(../img/header/bg-menu.png) repeat;
}

.additional-nav > a:hover span {
    border-bottom: 1px dashed #fff;
}

.plate-goods {
    height: 300px;
    margin-top: 15px;
    overflow: hidden;
}

.plate-goods > a {
    text-decoration: none;
}

.plate-goods figure {
    display: block;
    position: relative;
    width: 230px;
    height: 300px;
    margin: 0;
    padding: 0;
}

.plate-goods figure > p {
    margin: 0;
    padding: 0;
    width: 230px;
    height: 200px;
    overflow: hidden;
}

.plate-goods figure img {
    min-width: 230px;
    min-height: 200px;
}

.plate-goods figure > figcaption {
    width: auto;
    height: 80px;
    color: #666;
    font-size: 1.5rem;
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
    padding-top: 10px;
}

.plate-goods figure:hover .shortcut {
    visibility: visible;
    opacity: 1;
    transition:  all .3s ease .15s;
}

.label-flag {
    position: absolute;
    width: 65px;
    height: 25px;
    top: 14px;
    left: 1px;
    background: #1b51aa;
    color: #fff;
    font-size: 1.5rem;
    line-height: 25px;
    padding-left: 10px;
    user-select: none;
}

.label-flag::after {
    content: '';
    position: absolute;
    right: -13px;
    border: 13px solid transparent;
    border-top: 13px solid #1b51aa;
    border-bottom: 12px solid #1b51aa;
}

.shortcut {
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    position: absolute;
    width: 28px;
    height: 30px;
    left: 1px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.compare-icon {
    background: #6da5a7 url('../img/goods/icon-sprites.png') -80px 50%;
    top: 55px;
}

.increase-icon {
    background: #adadad url('../img/goods/icon-sprites.png') -5px 50%;
    top: 90px;
}

.basket-icon {
    background: #adadad url('../img/goods/icon-sprites.png') -42px 50%;
    top: 125px;
}

.plate-goods .price {
    font-family: "Roboto-Bold", "Arieal", sans-serif;
    font-size: 1.8rem;
    color: #73aaab;
}

.plate-goods .price::after {
    content: ' руб.';
}

.partners {
    height: 100px;
    border-top: 1px solid #c7c7c7;
}

.footer {
    margin-top: -220px;
    height: 219px;
    border-top: 1px solid #c7c7c7;
    background: #ececec;
}

.footer-content {
    margin-top: 25px;
    margin-bottom: 15px;
}

.footer .line {
    height: 112px;
    width: 0px;
    border-left: 1px solid #fff;
    border-right: 1px solid #b8b4b4;
    margin-right: 33px;
}

.footer-nav {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.footer-menu {
    width: 165px;
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
    overflow: hidden;
}

.footer-menu a {
    text-decoration: none;
    font-size: 1.5rem;
    line-height: 3.0rem;
    color: #666;
}

.footer-info {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.footer-info .map {
    margin-right: 20px;
}

.footer-info .info-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
}

.footer-search {
    width: 430px;
}

.footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 1.3rem;
    color: #666;
}

.footer-bottom a {
    text-decoration: none;
    color: #7db0b1;
}
